@charset "UTF-8";
root {
  --swl-fz--content: 4vw;
  --swl-font_family: "游ゴシック体", "Yu Gothic", YuGothic,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  --swl-font_weight: 500;
  --color_main: #04384c;
  --color_text: #333;
  --color_link: #1176d4;
  --color_htag: #04384c;
  --color_bg: #fdfdfd;
  --color_gradient1: #d8ffff;
  --color_gradient2: #87e7ff;
  --color_main_thin: rgba(5, 70, 95, 0.05);
  --color_main_dark: rgba(3, 42, 57, 1);
  --color_list_check: #04384c;
  --color_list_num: #04384c;
  --color_list_good: #86dd7b;
  --color_list_triangle: #f4e03a;
  --color_list_bad: #f36060;
  --color_faq_q: #d55656;
  --color_faq_a: #6599b7;
  --color_icon_good: #3cd250;
  --color_icon_good_bg: #ecffe9;
  --color_icon_bad: #4b73eb;
  --color_icon_bad_bg: #eafaff;
  --color_icon_info: #f578b4;
  --color_icon_info_bg: #fff0fa;
  --color_icon_announce: #ffa537;
  --color_icon_announce_bg: #fff5f0;
  --color_icon_pen: #7a7a7a;
  --color_icon_pen_bg: #f7f7f7;
  --color_icon_book: #787364;
  --color_icon_book_bg: #f8f6ef;
  --color_icon_point: #ffa639;
  --color_icon_check: #86d67c;
  --color_icon_batsu: #f36060;
  --color_icon_hatena: #5295cc;
  --color_icon_caution: #f7da38;
  --color_icon_memo: #84878a;
  --color_deep01: #e44141;
  --color_deep02: #3d79d5;
  --color_deep03: #63a84d;
  --color_deep04: #f09f4d;
  --color_pale01: #fff2f0;
  --color_pale02: #f3f8fd;
  --color_pale03: #f1f9ee;
  --color_pale04: #fdf9ee;
  --color_mark_blue: #b7e3ff;
  --color_mark_green: #bdf9c3;
  --color_mark_yellow: #fcf69f;
  --color_mark_orange: #ffddbc;
  --border01: solid 1px var(--color_main);
  --border02: double 4px var(--color_main);
  --border03: dashed 2px var(--color_border);
  --border04: solid 4px var(--color_gray);
  --card_posts_thumb_ratio: 56.25%;
  --list_posts_thumb_ratio: 61.805%;
  --big_posts_thumb_ratio: 56.25%;
  --thumb_posts_thumb_ratio: 61.805%;
  --blogcard_thumb_ratio: 56.25%;
  --color_header_bg: #fdfdfd;
  --color_header_text: #333;
  --color_footer_bg: #fdfdfd;
  --color_footer_text: #333;
  --container_size: 1200px;
  --article_size: 900px;
  --logo_size_sp: 48px;
  --logo_size_pc: 40px;
  --logo_size_pcfix: 32px;
}
.swl-cell-bg[data-icon="doubleCircle"] {
  --cell-icon-color: #ffc977;
}
.swl-cell-bg[data-icon="circle"] {
  --cell-icon-color: #94e29c;
}
.swl-cell-bg[data-icon="triangle"] {
  --cell-icon-color: #eeda2f;
}
.swl-cell-bg[data-icon="close"] {
  --cell-icon-color: #ec9191;
}
.swl-cell-bg[data-icon="hatena"] {
  --cell-icon-color: #93c9da;
}
.swl-cell-bg[data-icon="check"] {
  --cell-icon-color: #94e29c;
}
.swl-cell-bg[data-icon="line"] {
  --cell-icon-color: #9b9b9b;
}
.cap_box[data-colset="col1"] {
  --capbox-color: #f59b5f;
  --capbox-color--bg: #fff8eb;
}
.cap_box[data-colset="col2"] {
  --capbox-color: #5fb9f5;
  --capbox-color--bg: #edf5ff;
}
.cap_box[data-colset="col3"] {
  --capbox-color: #2fcd90;
  --capbox-color--bg: #eafaf2;
}
.red_ {
  --the-btn-color: #f74a4a;
  --the-btn-color2: #ffbc49;
  --the-solid-shadow: rgba(185, 56, 56, 1);
}
.blue_ {
  --the-btn-color: #338df4;
  --the-btn-color2: #35eaff;
  --the-solid-shadow: rgba(38, 106, 183, 1);
}
.green_ {
  --the-btn-color: #62d847;
  --the-btn-color2: #7bf7bd;
  --the-solid-shadow: rgba(74, 162, 53, 1);
}
.is-style-btn_normal {
  --the-btn-radius: 80px;
}
.is-style-btn_solid {
  --the-btn-radius: 80px;
}
.is-style-btn_shiny {
  --the-btn-radius: 80px;
}
.is-style-btn_line {
  --the-btn-radius: 80px;
}
.post_content blockquote {
  padding: 1.5em 2em 1.5em 3em;
}
.post_content blockquote::before {
  content: "";
  display: block;
  width: 5px;
  height: calc(100% - 3em);
  top: 1.5em;
  left: 1.5em;
  border-left: solid 1px rgba(180, 180, 180, 0.75);
  border-right: solid 1px rgba(180, 180, 180, 0.75);
}
.mark_blue {
  background: -webkit-linear-gradient(
    transparent 64%,
    var(--color_mark_blue) 0%
  );
  background: linear-gradient(transparent 64%, var(--color_mark_blue) 0%);
}
.mark_green {
  background: -webkit-linear-gradient(
    transparent 64%,
    var(--color_mark_green) 0%
  );
  background: linear-gradient(transparent 64%, var(--color_mark_green) 0%);
}
.mark_yellow {
  background: -webkit-linear-gradient(
    transparent 64%,
    var(--color_mark_yellow) 0%
  );
  background: linear-gradient(transparent 64%, var(--color_mark_yellow) 0%);
}
.mark_orange {
  background: -webkit-linear-gradient(
    transparent 64%,
    var(--color_mark_orange) 0%
  );
  background: linear-gradient(transparent 64%, var(--color_mark_orange) 0%);
}
[class*="is-style-icon_"] {
  color: #333;
  border-width: 0;
}
[class*="is-style-big_icon_"] {
  border-width: 2px;
  border-style: solid;
}
[data-col="gray"] .c-balloon__text {
  background: #f7f7f7;
  border-color: #ccc;
}
[data-col="gray"] .c-balloon__before {
  border-right-color: #f7f7f7;
}
[data-col="green"] .c-balloon__text {
  background: #d1f8c2;
  border-color: #9ddd93;
}
[data-col="green"] .c-balloon__before {
  border-right-color: #d1f8c2;
}
[data-col="blue"] .c-balloon__text {
  background: #e2f6ff;
  border-color: #93d2f0;
}
[data-col="blue"] .c-balloon__before {
  border-right-color: #e2f6ff;
}
[data-col="red"] .c-balloon__text {
  background: #ffebeb;
  border-color: #f48789;
}
[data-col="red"] .c-balloon__before {
  border-right-color: #ffebeb;
}
[data-col="yellow"] .c-balloon__text {
  background: #f9f7d2;
  border-color: #fbe593;
}
[data-col="yellow"] .c-balloon__before {
  border-right-color: #f9f7d2;
}
.-type-list2 .p-postList__body::after,
.-type-big .p-postList__body::after {
  content: "READ MORE »";
}
.c-postThumb__cat {
  background-color: #04384c;
  color: #fff;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1) 6px,
    transparent 6px,
    transparent 12px
  );
}
.post_content
  h2:where(:not([class^="swell-block-"]):not(.faq_q):not(.p-postList__title)) {
  background: var(--color_htag);
  padding: 0.75em 1em;
  color: #fff;
}
.post_content
  h2:where(
    :not([class^="swell-block-"]):not(.faq_q):not(.p-postList__title)
  )::before {
  position: absolute;
  display: block;
  pointer-events: none;
  content: "";
  top: -4px;
  left: 0;
  width: 100%;
  height: calc(100% + 4px);
  box-sizing: content-box;
  border-top: solid 2px var(--color_htag);
  border-bottom: solid 2px var(--color_htag);
}
.post_content
  h3:where(:not([class^="swell-block-"]):not(.faq_q):not(.p-postList__title)) {
  padding: 0 0.5em 0.5em;
}
.post_content
  h3:where(
    :not([class^="swell-block-"]):not(.faq_q):not(.p-postList__title)
  )::before {
  content: "";
  width: 100%;
  height: 2px;
  background: repeating-linear-gradient(
    90deg,
    var(--color_htag) 0%,
    var(--color_htag) 29.3%,
    rgba(150, 150, 150, 0.2) 29.3%,
    rgba(150, 150, 150, 0.2) 100%
  );
}
.post_content
  h4:where(:not([class^="swell-block-"]):not(.faq_q):not(.p-postList__title)) {
  padding: 0 0 0 16px;
  border-left: solid 2px var(--color_htag);
}
.l-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}
.l-header__bar {
  color: #fff;
  background: var(--color_main);
}
.l-header__menuBtn {
  order: 1;
}
.l-header__customBtn {
  order: 3;
}
.c-gnav a::after {
  background: var(--color_main);
  width: 100%;
  height: 2px;
  transform: scaleX(0);
}
.p-spHeadMenu .menu-item.-current {
  border-bottom-color: var(--color_main);
}
.c-gnav > li:hover > a::after,
.c-gnav > .-current > a::after {
  transform: scaleX(1);
}
.c-gnav .sub-menu {
  color: #333;
  background: #fff;
}
.l-fixHeader::before {
  opacity: 1;
}
#pagetop {
  border-radius: 50%;
}
.c-widget__title.-spmenu {
  padding: 0.5em 0.75em;
  border-radius: var(--swl-radius--2, 0px);
  background: var(--color_main);
  color: #fff;
}
.c-widget__title.-footer {
  padding: 0.5em;
}
.c-widget__title.-footer::before {
  content: "";
  bottom: 0;
  left: 0;
  width: 40%;
  z-index: 1;
  background: var(--color_main);
}
.c-widget__title.-footer::after {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--color_border);
}
.c-secTitle {
  border-left: solid 2px var(--color_main);
  padding: 0em 0.75em;
}
.p-spMenu {
  color: #333;
}
.p-spMenu__inner::before {
  background: #fdfdfd;
  opacity: 1;
}
.p-spMenu__overlay {
  background: #000;
  opacity: 0.6;
}
[class*="page-numbers"] {
  color: #fff;
  background-color: #dedede;
}
a {
  text-decoration: none;
}
.l-topTitleArea.c-filterLayer::before {
  background-color: #000;
  opacity: 0.2;
  content: "";
}
@media screen and (min-width: 960px) {
  :root {
  }
}
@media screen and (max-width: 959px) {
  :root {
  }
  .l-header__logo {
    order: 2;
    text-align: center;
  }
}
@media screen and (min-width: 600px) {
  :root {
    --swl-fz--content: 16px;
  }
}
@media screen and (max-width: 599px) {
  :root {
  }
}
@media (min-width: 1108px) {
  .alignwide {
    left: -100px;
    width: calc(100% + 200px);
  }
}
@media (max-width: 1108px) {
  .-sidebar-off .swell-block-fullWide__inner.l-container .alignwide {
    left: 0px;
    width: 100%;
  }
}
.l-fixHeader .l-fixHeader__gnav {
  order: 0;
}
[data-scrolled="true"] .l-fixHeader[data-ready] {
  opacity: 1;
  -webkit-transform: translateY(0) !important;
  transform: translateY(0) !important;
  visibility: visible;
}
.-body-solid .l-fixHeader {
  box-shadow: 0 2px 4px var(--swl-color_shadow);
}
.l-fixHeader__inner {
  align-items: stretch;
  color: var(--color_header_text);
  display: flex;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  z-index: 1;
}
.l-fixHeader__logo {
  align-items: center;
  display: flex;
  line-height: 1;
  margin-right: 24px;
  order: 0;
  padding: 16px 0;
}
.is-style-btn_normal a,
.is-style-btn_shiny a {
  box-shadow: var(--swl-btn_shadow);
}
.c-shareBtns__btn,
.is-style-balloon > .c-tabList .c-tabList__button,
.p-snsCta,
[class*="page-numbers"] {
  box-shadow: var(--swl-box_shadow);
}
.p-articleThumb__img,
.p-articleThumb__youtube {
  box-shadow: var(--swl-img_shadow);
}
.p-pickupBanners__item .c-bannerLink,
.p-postList__thumb {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), 0 4px 4px -4px rgba(0, 0, 0, 0.1);
}
.p-postList.-w-ranking li:before {
  background-image: repeating-linear-gradient(
    -45deg,
    hsla(0, 0%, 100%, 0.1),
    hsla(0, 0%, 100%, 0.1) 6px,
    transparent 0,
    transparent 12px
  );
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.l-header__bar {
  position: relative;
  width: 100%;
}
.l-header__bar .c-catchphrase {
  color: inherit;
  font-size: 12px;
  letter-spacing: var(--swl-letter_spacing, 0.2px);
  line-height: 14px;
  margin-right: auto;
  overflow: hidden;
  padding: 4px 0;
  white-space: nowrap;
  width: 50%;
}
.l-header__bar .c-iconList .c-iconList__link {
  margin: 0;
  padding: 4px 6px;
}
.l-header__barInner {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 960px) {
  .-series .l-header__inner {
    align-items: stretch;
    display: flex;
  }
  .-series .l-header__logo {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: 24px;
    padding: 16px 0;
  }
  .-series .l-header__logo .c-catchphrase {
    font-size: 13px;
    padding: 4px 0;
  }
  .-series .c-headLogo {
    margin-right: 16px;
  }
  .-series-right .l-header__inner {
    justify-content: space-between;
  }
  .-series-right .c-gnavWrap {
    margin-left: auto;
  }
  .-series-right .w-header {
    margin-left: 12px;
  }
  .-series-left .w-header {
    margin-left: auto;
  }
}
@media (min-width: 960px) and (min-width: 600px) {
  .-series .c-headLogo {
    max-width: 400px;
  }
}
.c-gnav .sub-menu a:before,
.c-listMenu a:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: icomoon !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
}
.c-submenuToggleBtn {
  display: none;
}
.c-listMenu a {
  padding: 0.75em 1em 0.75em 1.5em;
  transition: padding 0.25s;
}
.c-listMenu a:hover {
  padding-left: 1.75em;
  padding-right: 0.75em;
}
.c-gnav .sub-menu a:before,
.c-listMenu a:before {
  color: inherit;
  content: "\e921";
  display: inline-block;
  left: 2px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  vertical-align: middle;
}
.widget_categories > ul > .cat-item > a,
.wp-block-categories-list > li > a {
  padding-left: 1.75em;
}
.c-listMenu .children,
.c-listMenu .sub-menu {
  margin: 0;
}
.c-listMenu .children a,
.c-listMenu .sub-menu a {
  font-size: 0.9em;
  padding-left: 2.5em;
}
.c-listMenu .children a:before,
.c-listMenu .sub-menu a:before {
  left: 1em;
}
.c-listMenu .children a:hover,
.c-listMenu .sub-menu a:hover {
  padding-left: 2.75em;
}
.c-listMenu .children ul a,
.c-listMenu .sub-menu ul a {
  padding-left: 3.25em;
}
.c-listMenu .children ul a:before,
.c-listMenu .sub-menu ul a:before {
  left: 1.75em;
}
.c-listMenu .children ul a:hover,
.c-listMenu .sub-menu ul a:hover {
  padding-left: 3.5em;
}
.c-gnav li:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}
.c-gnav .sub-menu:before {
  background: inherit;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.c-gnav .sub-menu .sub-menu {
  left: 100%;
  top: 0;
  z-index: -1;
}
.c-gnav .sub-menu a {
  padding-left: 2em;
}
.c-gnav .sub-menu a:before {
  left: 0.5em;
}
.c-gnav .sub-menu a:hover .ttl {
  left: 4px;
}
:root {
}
.c-shareBtns__item:not(:last-child) {
  margin-right: 4px;
}
.c-shareBtns__btn {
  padding: 8px 0;
}
@media screen and (min-width: 960px) {
  :root {
  }
}
@media screen and (max-width: 959px) {
  :root {
  }
}
@media screen and (min-width: 600px) {
  :root {
  }
}
@media screen and (max-width: 599px) {
  :root {
  }
}
.p-relatedPosts .p-postList__item {
  margin-bottom: 1.5em;
}
.p-relatedPosts .p-postList__times,
.p-relatedPosts .p-postList__times > :last-child {
  margin-right: 0;
}
@media (min-width: 600px) {
  .p-relatedPosts .p-postList__item {
    width: 33.33333%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1239px) {
  .p-relatedPosts .p-postList__item:nth-child(7),
  .p-relatedPosts .p-postList__item:nth-child(8) {
    display: none;
  }
}
@media screen and (min-width: 1240px) {
  .p-relatedPosts .p-postList__item {
    width: 25%;
  }
}
.-index-off .p-toc,
.swell-toc-placeholder:empty {
  display: none;
}
.p-toc.-modal {
  height: 100%;
  margin: 0;
  overflow-y: auto;
  padding: 0;
}
#main_content .p-toc {
  border-radius: var(--swl-radius--2, 0);
  margin: 4em auto;
  max-width: 800px;
}
#sidebar .p-toc {
  margin-top: -0.5em;
}
.p-toc .__pn:before {
  content: none !important;
  counter-increment: none;
}
.p-toc .__prev {
  margin: 0 0 1em;
}
.p-toc .__next {
  margin: 1em 0 0;
}
.p-toc.is-omitted:not([data-omit="ct"]) [data-level="2"] .p-toc__childList {
  height: 0;
  margin-bottom: -0.5em;
  visibility: hidden;
}
.p-toc.is-omitted:not([data-omit="nest"]) {
  position: relative;
}
.p-toc.is-omitted:not([data-omit="nest"]):before {
  background: linear-gradient(hsla(0, 0%, 100%, 0), var(--color_bg));
  bottom: 5em;
  content: "";
  height: 4em;
  left: 0;
  opacity: 0.75;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.p-toc.is-omitted:not([data-omit="nest"]):after {
  background: var(--color_bg);
  bottom: 0;
  content: "";
  height: 5em;
  left: 0;
  opacity: 0.75;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.p-toc.is-omitted:not([data-omit="nest"]) .__next,
.p-toc.is-omitted:not([data-omit="nest"]) [data-omit="1"] {
  display: none;
}
.p-toc .p-toc__expandBtn {
  background-color: #f7f7f7;
  border: rgba(0, 0, 0, 0.2);
  border-radius: 5em;
  box-shadow: 0 0 0 1px #bbb;
  color: #333;
  display: block;
  font-size: 14px;
  line-height: 1.5;
  margin: 0.75em auto 0;
  min-width: 6em;
  padding: 0.5em 1em;
  position: relative;
  transition: box-shadow 0.25s;
  z-index: 2;
}
.p-toc[data-omit="nest"] .p-toc__expandBtn {
  display: inline-block;
  font-size: 13px;
  margin: 0 0 0 1.25em;
  padding: 0.5em 0.75em;
}
.p-toc:not([data-omit="nest"]) .p-toc__expandBtn:after,
.p-toc:not([data-omit="nest"]) .p-toc__expandBtn:before {
  border-top-color: inherit;
  border-top-style: dotted;
  border-top-width: 3px;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: calc(50% - 1px);
  transition: border-color 0.25s;
  width: 100%;
  width: 22px;
}
.p-toc:not([data-omit="nest"]) .p-toc__expandBtn:before {
  right: calc(100% + 1em);
}
.p-toc:not([data-omit="nest"]) .p-toc__expandBtn:after {
  left: calc(100% + 1em);
}
.p-toc.is-expanded .p-toc__expandBtn {
  border-color: transparent;
}
.p-toc__ttl {
  display: block;
  font-size: 1.2em;
  line-height: 1;
  position: relative;
  text-align: center;
}
.p-toc__ttl:before {
  content: "\e918";
  display: inline-block;
  font-family: icomoon;
  margin-right: 0.5em;
  padding-bottom: 2px;
  vertical-align: middle;
}
#index_modal .p-toc__ttl {
  margin-bottom: 0.5em;
}
.p-toc__list li {
  line-height: 1.6;
}
.p-toc__list > li + li {
  margin-top: 0.5em;
}
.p-toc__list .p-toc__childList {
  padding-left: 0.5em;
}
.p-toc__list [data-level="3"] {
  font-size: 0.9em;
}
.p-toc__list .mininote {
  display: none;
}
.post_content .p-toc__list {
  padding-left: 0;
}
#sidebar .p-toc__list {
  margin-bottom: 0;
}
#sidebar .p-toc__list .p-toc__childList {
  padding-left: 0;
}
.p-toc__link {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
.p-toc__link:hover {
  opacity: 0.8;
}
.p-toc.-double {
  background: var(--color_gray);
  background: linear-gradient(
    -45deg,
    transparent 25%,
    var(--color_gray) 25%,
    var(--color_gray) 50%,
    transparent 50%,
    transparent 75%,
    var(--color_gray) 75%,
    var(--color_gray)
  );
  background-clip: padding-box;
  background-size: 4px 4px;
  border-bottom: 4px double var(--color_border);
  border-top: 4px double var(--color_border);
  padding: 1.5em 1em 1em;
}
.p-toc.-double .p-toc__ttl {
  margin-bottom: 0.75em;
}
@media (min-width: 960px) {
  #main_content .p-toc {
    width: 92%;
  }
}
@media (hover: hover) {
  .p-toc .p-toc__expandBtn:hover {
    border-color: transparent;
    box-shadow: 0 0 0 2px currentcolor;
  }
}
@media (min-width: 600px) {
  .p-toc.-double {
    padding: 2em;
  }
}
.p-pnLinks {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
}
.p-pnLinks__item {
  font-size: 3vw;
  position: relative;
  width: 49%;
}
.p-pnLinks__item:before {
  content: "";
  display: block;
  height: 0.5em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  width: 0.5em;
  z-index: 1;
}
.p-pnLinks__item.-prev:before {
  border-bottom: 1px solid;
  border-left: 1px solid;
  left: 0.35em;
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
}
.p-pnLinks__item.-prev .p-pnLinks__thumb {
  margin-right: 8px;
}
.p-pnLinks__item.-next .p-pnLinks__link {
  justify-content: flex-end;
}
.p-pnLinks__item.-next:before {
  border-bottom: 1px solid;
  border-right: 1px solid;
  right: 0.35em;
  -webkit-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%);
}
.p-pnLinks__item.-next .p-pnLinks__thumb {
  margin-left: 8px;
  order: 2;
}
.p-pnLinks__item.-next:first-child {
  margin-left: auto;
}
.p-pnLinks__link {
  align-items: center;
  border-radius: var(--swl-radius--2, 0);
  color: inherit;
  display: flex;
  height: 100%;
  line-height: 1.4;
  min-height: 4em;
  padding: 0.6em 1em 0.5em;
  position: relative;
  text-decoration: none;
  transition: box-shadow 0.25s;
  width: 100%;
}
.p-pnLinks__thumb {
  border-radius: var(--swl-radius--4, 0);
  height: 32px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 48px;
}
.p-pnLinks .-prev .p-pnLinks__link {
  border-left: 1.25em solid var(--color_main);
}
.p-pnLinks .-prev:before {
  color: #fff;
}
.p-pnLinks .-next .p-pnLinks__link {
  border-right: 1.25em solid var(--color_main);
}
.p-pnLinks .-next:before {
  color: #fff;
}
@media not all and (min-width: 960px) {
  .p-pnLinks.-thumb-on {
    display: block;
  }
  .p-pnLinks.-thumb-on .p-pnLinks__item {
    width: 100%;
  }
}
@media (min-width: 600px) {
  .p-pnLinks__item {
    font-size: 13px;
  }
  .p-pnLinks__thumb {
    height: 48px;
    width: 72px;
  }
  .p-pnLinks__title {
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
  }
  .-prev > .p-pnLinks__link:hover .p-pnLinks__title {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  .-next > .p-pnLinks__link:hover .p-pnLinks__title {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  .p-pnLinks .-prev .p-pnLinks__link:hover {
    box-shadow: 1px 1px 2px var(--swl-color_shadow);
  }
  .p-pnLinks .-next .p-pnLinks__link:hover {
    box-shadow: -1px 1px 2px var(--swl-color_shadow);
  }
}

.wp-block-button__link {
  color: #fff;
  background-color: #32373c;
  border-radius: 9999px;
  box-shadow: none;
  text-decoration: none;
  padding: calc(0.667em + 2px) calc(1.333em + 2px);
  font-size: 1.125em;
}
.wp-block-file__button {
  background: #32373c;
  color: #fff;
  text-decoration: none;
}

body {
  --wp--preset--color--black: #000;
  --wp--preset--color--cyan-bluish-gray: #abb8c3;
  --wp--preset--color--white: #fff;
  --wp--preset--color--pale-pink: #f78da7;
  --wp--preset--color--vivid-red: #cf2e2e;
  --wp--preset--color--luminous-vivid-orange: #ff6900;
  --wp--preset--color--luminous-vivid-amber: #fcb900;
  --wp--preset--color--light-green-cyan: #7bdcb5;
  --wp--preset--color--vivid-green-cyan: #00d084;
  --wp--preset--color--pale-cyan-blue: #8ed1fc;
  --wp--preset--color--vivid-cyan-blue: #0693e3;
  --wp--preset--color--vivid-purple: #9b51e0;
  --wp--preset--color--swl-main: var(--color_main);
  --wp--preset--color--swl-main-thin: var(--color_main_thin);
  --wp--preset--color--swl-gray: var(--color_gray);
  --wp--preset--color--swl-deep-01: var(--color_deep01);
  --wp--preset--color--swl-deep-02: var(--color_deep02);
  --wp--preset--color--swl-deep-03: var(--color_deep03);
  --wp--preset--color--swl-deep-04: var(--color_deep04);
  --wp--preset--color--swl-pale-01: var(--color_pale01);
  --wp--preset--color--swl-pale-02: var(--color_pale02);
  --wp--preset--color--swl-pale-03: var(--color_pale03);
  --wp--preset--color--swl-pale-04: var(--color_pale04);
  --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(
    135deg,
    rgba(6, 147, 227, 1) 0%,
    rgb(155, 81, 224) 100%
  );
  --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(
    135deg,
    rgb(122, 220, 180) 0%,
    rgb(0, 208, 130) 100%
  );
  --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(
    135deg,
    rgba(252, 185, 0, 1) 0%,
    rgba(255, 105, 0, 1) 100%
  );
  --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(
    135deg,
    rgba(255, 105, 0, 1) 0%,
    rgb(207, 46, 46) 100%
  );
  --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(
    135deg,
    rgb(238, 238, 238) 0%,
    rgb(169, 184, 195) 100%
  );
  --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(
    135deg,
    rgb(74, 234, 220) 0%,
    rgb(151, 120, 209) 20%,
    rgb(207, 42, 186) 40%,
    rgb(238, 44, 130) 60%,
    rgb(251, 105, 98) 80%,
    rgb(254, 248, 76) 100%
  );
  --wp--preset--gradient--blush-light-purple: linear-gradient(
    135deg,
    rgb(255, 206, 236) 0%,
    rgb(152, 150, 240) 100%
  );
  --wp--preset--gradient--blush-bordeaux: linear-gradient(
    135deg,
    rgb(254, 205, 165) 0%,
    rgb(254, 45, 45) 50%,
    rgb(107, 0, 62) 100%
  );
  --wp--preset--gradient--luminous-dusk: linear-gradient(
    135deg,
    rgb(255, 203, 112) 0%,
    rgb(199, 81, 192) 50%,
    rgb(65, 88, 208) 100%
  );
  --wp--preset--gradient--pale-ocean: linear-gradient(
    135deg,
    rgb(255, 245, 203) 0%,
    rgb(182, 227, 212) 50%,
    rgb(51, 167, 181) 100%
  );
  --wp--preset--gradient--electric-grass: linear-gradient(
    135deg,
    rgb(202, 248, 128) 0%,
    rgb(113, 206, 126) 100%
  );
  --wp--preset--gradient--midnight: linear-gradient(
    135deg,
    rgb(2, 3, 129) 0%,
    rgb(40, 116, 252) 100%
  );
  --wp--preset--font-size--small: 0.9em;
  --wp--preset--font-size--medium: 1.1em;
  --wp--preset--font-size--large: 1.25em;
  --wp--preset--font-size--x-large: 42px;
  --wp--preset--font-size--xs: 0.75em;
  --wp--preset--font-size--huge: 1.6em;
  --wp--preset--spacing--20: 0.44rem;
  --wp--preset--spacing--30: 0.67rem;
  --wp--preset--spacing--40: 1rem;
  --wp--preset--spacing--50: 1.5rem;
  --wp--preset--spacing--60: 2.25rem;
  --wp--preset--spacing--70: 3.38rem;
  --wp--preset--spacing--80: 5.06rem;
  --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
  --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
  --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
  --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1),
    6px 6px rgba(0, 0, 0, 1);
  --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
}
:where(.is-layout-flex) {
  gap: 0.5em;
}
:where(.is-layout-grid) {
  gap: 0.5em;
}
body .is-layout-flow > .alignleft {
  float: left;
  margin-inline-start: 0;
  margin-inline-end: 2em;
}
body .is-layout-flow > .alignright {
  float: right;
  margin-inline-start: 2em;
  margin-inline-end: 0;
}
body .is-layout-flow > .aligncenter {
  margin-left: auto !important;
  margin-right: auto !important;
}
body .is-layout-constrained > .alignleft {
  float: left;
  margin-inline-start: 0;
  margin-inline-end: 2em;
}
body .is-layout-constrained > .alignright {
  float: right;
  margin-inline-start: 2em;
  margin-inline-end: 0;
}
body .is-layout-constrained > .aligncenter {
  margin-left: auto !important;
  margin-right: auto !important;
}
body
  .is-layout-constrained
  > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: var(--wp--style--global--content-size);
  margin-left: auto !important;
  margin-right: auto !important;
}
body .is-layout-constrained > .alignwide {
  max-width: var(--wp--style--global--wide-size);
}
body .is-layout-flex {
  display: flex;
}
body .is-layout-flex {
  flex-wrap: wrap;
  align-items: center;
}
body .is-layout-flex > * {
  margin: 0;
}
body .is-layout-grid {
  display: grid;
}
body .is-layout-grid > * {
  margin: 0;
}
:where(.wp-block-columns.is-layout-flex) {
  gap: 2em;
}
:where(.wp-block-columns.is-layout-grid) {
  gap: 2em;
}
:where(.wp-block-post-template.is-layout-flex) {
  gap: 1.25em;
}
:where(.wp-block-post-template.is-layout-grid) {
  gap: 1.25em;
}
.has-black-color {
  color: var(--wp--preset--color--black) !important;
}
.has-cyan-bluish-gray-color {
  color: var(--wp--preset--color--cyan-bluish-gray) !important;
}
.has-white-color {
  color: var(--wp--preset--color--white) !important;
}
.has-pale-pink-color {
  color: var(--wp--preset--color--pale-pink) !important;
}
.has-vivid-red-color {
  color: var(--wp--preset--color--vivid-red) !important;
}
.has-luminous-vivid-orange-color {
  color: var(--wp--preset--color--luminous-vivid-orange) !important;
}
.has-luminous-vivid-amber-color {
  color: var(--wp--preset--color--luminous-vivid-amber) !important;
}
.has-light-green-cyan-color {
  color: var(--wp--preset--color--light-green-cyan) !important;
}
.has-vivid-green-cyan-color {
  color: var(--wp--preset--color--vivid-green-cyan) !important;
}
.has-pale-cyan-blue-color {
  color: var(--wp--preset--color--pale-cyan-blue) !important;
}
.has-vivid-cyan-blue-color {
  color: var(--wp--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-purple-color {
  color: var(--wp--preset--color--vivid-purple) !important;
}
.has-black-background-color {
  background-color: var(--wp--preset--color--black) !important;
}
.has-cyan-bluish-gray-background-color {
  background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}
.has-white-background-color {
  background-color: var(--wp--preset--color--white) !important;
}
.has-pale-pink-background-color {
  background-color: var(--wp--preset--color--pale-pink) !important;
}
.has-vivid-red-background-color {
  background-color: var(--wp--preset--color--vivid-red) !important;
}
.has-luminous-vivid-orange-background-color {
  background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}
.has-luminous-vivid-amber-background-color {
  background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}
.has-light-green-cyan-background-color {
  background-color: var(--wp--preset--color--light-green-cyan) !important;
}
.has-vivid-green-cyan-background-color {
  background-color: var(--wp--preset--color--vivid-green-cyan) !important;
}
.has-pale-cyan-blue-background-color {
  background-color: var(--wp--preset--color--pale-cyan-blue) !important;
}
.has-vivid-cyan-blue-background-color {
  background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-purple-background-color {
  background-color: var(--wp--preset--color--vivid-purple) !important;
}
.has-black-border-color {
  border-color: var(--wp--preset--color--black) !important;
}
.has-cyan-bluish-gray-border-color {
  border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}
.has-white-border-color {
  border-color: var(--wp--preset--color--white) !important;
}
.has-pale-pink-border-color {
  border-color: var(--wp--preset--color--pale-pink) !important;
}
.has-vivid-red-border-color {
  border-color: var(--wp--preset--color--vivid-red) !important;
}
.has-luminous-vivid-orange-border-color {
  border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}
.has-luminous-vivid-amber-border-color {
  border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}
.has-light-green-cyan-border-color {
  border-color: var(--wp--preset--color--light-green-cyan) !important;
}
.has-vivid-green-cyan-border-color {
  border-color: var(--wp--preset--color--vivid-green-cyan) !important;
}
.has-pale-cyan-blue-border-color {
  border-color: var(--wp--preset--color--pale-cyan-blue) !important;
}
.has-vivid-cyan-blue-border-color {
  border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-purple-border-color {
  border-color: var(--wp--preset--color--vivid-purple) !important;
}
.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
  background: var(
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple
  ) !important;
}
.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
  background: var(
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan
  ) !important;
}
.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
  background: var(
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange
  ) !important;
}
.has-luminous-vivid-orange-to-vivid-red-gradient-background {
  background: var(
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red
  ) !important;
}
.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
  background: var(
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray
  ) !important;
}
.has-cool-to-warm-spectrum-gradient-background {
  background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
}
.has-blush-light-purple-gradient-background {
  background: var(--wp--preset--gradient--blush-light-purple) !important;
}
.has-blush-bordeaux-gradient-background {
  background: var(--wp--preset--gradient--blush-bordeaux) !important;
}
.has-luminous-dusk-gradient-background {
  background: var(--wp--preset--gradient--luminous-dusk) !important;
}
.has-pale-ocean-gradient-background {
  background: var(--wp--preset--gradient--pale-ocean) !important;
}
.has-electric-grass-gradient-background {
  background: var(--wp--preset--gradient--electric-grass) !important;
}
.has-midnight-gradient-background {
  background: var(--wp--preset--gradient--midnight) !important;
}
.has-small-font-size {
  font-size: var(--wp--preset--font-size--small) !important;
}
.has-medium-font-size {
  font-size: var(--wp--preset--font-size--medium) !important;
}
.has-large-font-size {
  font-size: var(--wp--preset--font-size--large) !important;
}
.has-x-large-font-size {
  font-size: var(--wp--preset--font-size--x-large) !important;
}
.wp-block-navigation a:where(:not(.wp-element-button)) {
  color: inherit;
}
:where(.wp-block-post-template.is-layout-flex) {
  gap: 1.25em;
}
:where(.wp-block-post-template.is-layout-grid) {
  gap: 1.25em;
}
:where(.wp-block-columns.is-layout-flex) {
  gap: 2em;
}
:where(.wp-block-columns.is-layout-grid) {
  gap: 2em;
}
.wp-block-pullquote {
  font-size: 1.5em;
  line-height: 1.6;
}
.myBase {
  position: relative;
}

.myChild1 {
  position: absolute;
  top: 75%;
}

.myBase2 {
  position: relative;
}

.myChild2 {
  position: absolute;
  top: 85%;
}

.myBase3 {
  position: relative;
}

.myChild3 {
  position: absolute;
  top: 92%;
}

.myBase4 {
  position: relative;
}

.myChild4 {
  position: absolute;
  top: 87%;
}

.kyujin1 {
  margin: 2em !important;
}
:root {
  --wpforms-field-border-radius: 3px;
  --wpforms-field-background-color: #ffffff;
  --wpforms-field-border-color: rgba(0, 0, 0, 0.25);
  --wpforms-field-text-color: rgba(0, 0, 0, 0.7);
  --wpforms-label-color: rgba(0, 0, 0, 0.85);
  --wpforms-label-sublabel-color: rgba(0, 0, 0, 0.55);
  --wpforms-label-error-color: #d63637;
  --wpforms-button-border-radius: 3px;
  --wpforms-button-background-color: #066aab;
  --wpforms-button-text-color: #ffffff;
  --wpforms-field-size-input-height: 43px;
  --wpforms-field-size-input-spacing: 15px;
  --wpforms-field-size-font-size: 16px;
  --wpforms-field-size-line-height: 19px;
  --wpforms-field-size-padding-h: 14px;
  --wpforms-field-size-checkbox-size: 16px;
  --wpforms-field-size-sublabel-spacing: 5px;
  --wpforms-field-size-icon-size: 1;
  --wpforms-label-size-font-size: 16px;
  --wpforms-label-size-line-height: 19px;
  --wpforms-label-size-sublabel-font-size: 14px;
  --wpforms-label-size-sublabel-line-height: 17px;
  --wpforms-button-size-font-size: 17px;
  --wpforms-button-size-height: 41px;
  --wpforms-button-size-padding-h: 15px;
  --wpforms-button-size-margin-top: 10px;
}
:root {
  --swl-lp_content_width: 900px;
}
